*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    touch-action: none;
}

input,
textarea,
button,
select,
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    touch-action: none;
}


a:focus,
a:visited,
a:active {
    border: none;
    outline: none;
}

.text-theme {
    color: #ad84de !important;
}

.close:hover {
    color: red !important;
}
button.close:active {
    border: none;
    outline: none;
}
.close::-moz-focus-inner {
    border: none;
}

